<app-navigation></app-navigation>
<h1 id="title">Your adventure awaits!</h1>
<mat-card id="presentation">
	<div class="conteneur">
		<div class="titlesubtitle">
			<mat-card-title class="matcardTitle">
				Hello my fellow pokemon trainer
			</mat-card-title>
			<p>
				<br />
				You are looking for a new exciting adventure? You just found the
				right place!
			</p>
		</div>
		<div class="conteneur_pokemon">
			<img
				height="100px"
				src="https://resize-gulli.jnsmedia.fr/r/890,__ym__/img//var/jeunesse/storage/images/gulli/chaine-tv/dessins-animes/pokemon/pokemon/pikachu/26571681-1-fre-FR/Pikachu.jpg"
			/>
			<img
				height="100px"
				src="https://cdn.bulbagarden.net/upload/7/73/004Charmander.png"
			/>
			<img
				height="100px"
				src="https://www.pokepedia.fr/images/c/cc/Carapuce-RFVF.png"
			/>
			<img
				height="100px"
				src="https://www.pokepedia.fr/images/e/ef/Bulbizarre-RFVF.png"
			/>
		</div>
	</div>
	<mat-card-content>
		<br />This adventure is about getting a random new card each day in the
		random tab. Once you get a new pokemon, this one will be saved in your
		collection. As days go on you will have your own pokedex with all the
		informations you need! <br />
		<br />
		<div *ngIf="!userID">
			<p class="center">Sounds exciting right? <br /></p>
			<div id="start-container">
				<a routerLink="/login">
					<button mat-button color="primary" id="start">
						Let's get started!
					</button>
				</a>
			</div>
			<p class="center">Gotta Catch'em All!</p>
		</div>
	</mat-card-content>

	<mat-card-title class="karim"> Here is an example: </mat-card-title>
	<mat-grid-list cols="5" rowHeight="1:1" [gutterSize]="'30px'">
		<mat-grid-tile *ngFor="let poke of pokemonList">
			<mat-grid-tile-footer> {{ poke.name }} </mat-grid-tile-footer>
			<img
				mat-card-image
				[src]="poke.sprites.front_default"
				alt="Pokemon"
			/>
		</mat-grid-tile>
	</mat-grid-list>
</mat-card>
