.cardPokemon {
	width: 50%;
	margin: 5em auto;
}

.namePoke {
	text-align: center;
	font-size: 30px;
}

mat-card img {
	object-fit: cover;
	width: 15em;
	height: 15em;
	display: block;
	margin: auto;
}

mat-card-content {
	font-size: 20px;
}

mat-card {
	width: 50%;
	margin: auto;
	margin-top: 2em;
	align-self: center;
	text-align: center;
}

button {
	margin: auto;
	justify-content: center;
}
